* {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #495057;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 500px;
  }

  h1 {
    margin-bottom: 5px;
  }

  button {
    cursor: pointer;
  }
  

  #authorize_button, #signout_button {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #90a8ba;
    color: #ffffff;
    width: 15%;
    font-size: 15px;
  }

  #signout_button{ 
    margin-bottom: 15px;
  }

  #signout_button:hover, #authorize_button:hover, #copy:hover, #clear:hover {
    background-color: #94b3c6;
  }

  #auth_buttons {
    display: flex;
    justify-content: center;
  }

  #submit_button {
    background-color: #EDEFF1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    font-size: 15px;
    font-weight: bolder;
  }

  #submit_button:hover {
    background-color: #e2e5e8;
  }

  input, label {
    font-size: 16px;
    display: block;
  }

  input {
    width: 100%;
    text-align: left;
    margin-top: 5px;
    border: none;
    padding: 5px;
  }

  label {
    text-align: left;
    padding-top: 10px;
  }

  #source_field {
    padding-top: 0px;
  }

  .form_container {
    /* width: 500px; */
    width: 450px;
    margin: 0 auto;
    background-color: #B2BCC5;
    color: #495057;
    border-radius: 10px;
    padding: 10px;
  }

  form {
    margin-top: 15px;
  }

  button {
    margin-top: 10px;
  }

  span p {
    text-align: left;
    font-size: 15px;
  }

  textarea {
    border: #dee2e6 solid 2px;
    width: 500px;
    margin: 0 auto;
    padding: 35px;
    border-radius: 20px;
    resize: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #495057;
  }

  .copy_clear-container {
    display: inline-flex;
  }

  .copy_clear-buttons {
    padding-right: 10px;
  }

  #copy, #clear {
    border: none;
    background-color: #90a8ba;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
  }

  #dropdown_menu, option, select {
    text-align: left;
    width: 100%;
    border:0px;
    outline:0px;
    font-size: 16px;
  }

  select#promotion_type {
    padding: 5px;
  }

  #modal_container {
    display: none;
    width: 600px;
    margin: 0 auto;
    background-color: #c0d6df;
    border: #6096ba 1px solid;
    color: #495057;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal_content {
    width: 100%;
    background: white;
    height: 175px;
    margin-bottom: 15px;
  }

  #modal_content-textarea {
    border: none;
    outline: none;
    padding: 25px;
  }

  .modal_content p {
    padding-top: 5px;
  }

  #edit_utm_button, #export_utm_button {
    border: 1px solid #B2BCC5;
    background-color: #EDEFF1;
    padding: 10px;
    border-radius: 5px;
    color: #495057;
    font-size: 13px;
    font-weight: 600;
  }

  #edit_utm_button:hover, #export_utm_button:hover {
    background-color: #e2e5e8;
  }

  #source_error, #promotion_type_error, #medium_error, #url_error {
    text-align: left;
  }

  /* Autocomplete */

  .autocomplete {
    position: relative;
  }

  .autocomplete_input {
    border: 1px solid transparent;
    padding: 7px;
    font-size: 16px;
  }

  .autocomplete_input[type=text] {
    width: 100%;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }

  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  .autocomplete-active {
    background-color: rgb(190, 215, 239) !important; 
    color: #ffffff; 
  }

  /* Profile */

  #profile_container {
    display: inline-flex;
    align-items: center;
  }
  
  #profile_image_container {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #profile_name {
    border-bottom: 2px solid grey;
  }